
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="content">
        <section class="section-padding">
            <div class="container">
                <div class="row showcase-section">
                    <div class="col-md-6">
                        <img id="hk_img" src="~/Content/img/1.jpg" alt="showcase image" />
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <h3>Hakkımızda</h3>
                            <p>Çağın değişen ve gelişen teknolojisine önce kendimizi daha sonrada sizleri büyük bir öz verili çalışmalar ile hazırlamaktayız. Dijital dünyada var olan her projenin bir fikrin eseri ve her fikrin bir amacı olduğuna inanıyoruz. Detaylara verdigimiz önem güvene, fikirlerimiz ise farklılığımıza yansıyor. Yarattığımız her proje yaşıyor, yaşayan her projemizin arkasında durmaya devam ediyoruz. İnanmadığımız hiçbir projede ise yer almıyoruz. Çok yönlü stratejimiz, iletişim becerilerimiz ve müşteri odaklı çözüm ve üretim anlayışımızla yarattığımız her projede fark yaratıyoruz.</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">

            <div class="about">


                <div class="row">
                    <div class="col-md-4">
                        <!-- Heading and para -->
                        <div class="block-heading-two">
                            <h3><span>Neden Biz?</span></h3>
                        </div>
                        <p>
                            <i class="fa fa-foursquare"></i>

                            Konusunda bilgili ve deneyimli uzmanların yönetiminde, her adımın planlanarak ve denetlenerek atılması, müşteri memnuniyeti için değişmez standardımızdır.
                        </p>
                        <p><i class="fa fa-foursquare"></i>Şirketinizin ihtiyaçlarını doğru anlamak, yapılacakları iyi analiz etmek en önemli önceliğimizdir. Sağlanacak fayda, sunulacak hizmetin temel belirleyicisidir.</p>
                        <p><i class="fa fa-foursquare"></i>Sunulacak hizmetin sağlıklı bir şekilde tanımlanarak, en doğru sürede ve maliyette olması vazgeçilmez ilkemizdir.</p>
                        <p><i class="fa fa-foursquare"></i>Tüm bilişim hizmetlerinde en yeni teknolojileri kullanarak, şirketiniz ihtiyaçları doğrultusunda en özgün çözümleri geliştirmek hedefimizdir</p>
                    </div>
                    <div class="col-md-4">
                        <div class="block-heading-two">
                            <h3><span>Çözüm ve hizmetlerimiz</span></h3>
                        </div>
                        <!-- Accordion starts -->
                        <div class="panel-group" id="accordion-alt3">
                            <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                            <div class="panel">
                                <!-- Panel heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                            <i class="fa fa-angle-right"></i> YAZILIM GELİŞTİRME
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne-alt3" class="panel-collapse collapse">
                                    <!-- Panel body -->
                                    <div class="panel-body">
                                        Credati ailesi olarak, müşterilerimizin ihtiyaçlarına yönelik geliştirdiğimiz yazılım çözümleri ile öncelikli amacımız müşterilerimizin kurumsal yapılarını güçlendirerek, operasyonel işleri dijital dünyaya taşıyarak kaynak ve maliyet tasarrufu sağlamaktır. Bu misyonu gerçekleştirirken müşterilerimizin ihtiyaçlarını en güncel teknolojileri kullanarak çözmeyi ve başarılarına katkıda bulunmayı hedeflemekteyiz. Credati, kurumların ihtiyaçlarını doğru şekilde analiz eder. Müşterilerinin ihtiyaç duyduğu sistem ve uygulamaları optimum düzeyde geliştirir. Bu görevi alanında uzman ekipler ile gerçekleştirir.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                            <i class="fa fa-angle-right"></i>Bakım ve destek
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo-alt3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Bu çözüm tipinde kurumun altyapısında bulunan ve BT operasyon yönetimi kurum tarafından yapılan teknolojiler ile ilgili arıza desteği verilir. Hizmetin kapsamında; çıkan arızalara yerinde veya uzaktan müdahale, SLA tabanlı hizmetin yürütülmesi, kurumun BT personeline bilgi kuponu desteği ile Know-how aktarımı, periyodik raporlama ve seçilen çözüm tipine bağlı olarak altyapıdaki değişiklik isteklerinin yönetimi bulunmaktadır. Mevcut BT operasyonlarını desteklemek ve değişikliklerde uzman desteği almak isteyen kurumlar için idealdir.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                            <i class="fa fa-angle-right"></i> Outsourcing
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree-alt3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Personel taleplerinin detaylı bir şekilde değerlendirildiği bu hizmet tipinde, müşteri kriterlerine en uygun BT profesyonelleri Credati Teknoloji'nin geniş yetenek havuzundan seçilerek, talepte bulunan kurumlarda tam zamanlı olarak çalışmak üzere işe yerleştirilir.

                                        Günümüz dünyasında BT sektöründeki yetkinlikler ve teknolojiler çok hızlı değişmektedir. Bu durum nitelikli personele ulaşmada, doğru adayı hızlı ve efektif bir şekilde seçmede ve uygun adayı işe almada da etkisini göstererek, şirketlerin İnsan Kaynakları departmanlarını oldukça zorlamaktadır.

                                        Credati Teknoloji, belirlediği adayları İK mülakatı, Teknik Seviye Tespit Sınavı ve Teknik Danışman mülakatlarından geçirdikten sonra; başarılı olanları müşterilerine sunar. Böylece kurumların İnsan Kaynakları ve diğer teknik departmanlarına uygun adayı hızlıca bulup, istihdam etmelerinde destek olur.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                            <i class="fa fa-angle-right"></i> Danışmanlık
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour-alt3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Credati bilgi birikim ve tecrübeleri ile müşterilerine sunmuş olduğu network, sistem ve yazılım çözümleri ile igili yönetim ve danışmalık konusunda profesyonel hizmetler vermektedir.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion ends -->

                    </div>
                </div>

                <br>

            </div>

        </div>
    </section>

