
@{
    ViewBag.Title = "Constult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Yazılım <span class="color"></span></h3>
                        <p>
                            Firmalar, sektördeki mevcut yazılımların firmaların yapısına, çalışma biçimlerine tam uyum sağlayamaması ya da kendi
                            faaliyetlerine uygun bir hazır yazılımın hiç olmaması sebebiyle kendilerine özel, terzi dikimi bir yazılım
                            ihtiyacı hissetmektedirler. Credati Teknoloji, uzman yazılım kadrosuyla firma ihtiyaçlarını analiz eder ve performans,
                            güvenlik, kalite kriterlerini de gözeterek, bu ihtiyaçlara uygun, optimum yazılımlar geliştirilebilmesi için danışmanlık
                            yapar.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Altyapı <span class="color"></span></h3>
                        <p>
                            Credati bilgi birikim ve tecrübeleri ile müşterilerine sunmuş olduğu sistem çözümleri kapsamında kurulum,
                            yönetim ve danışmalık konusunda profesyonel hizmetler vermektedir.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Sunucu</h3>
                        <p>Sunucu sistemlerinin kurulum ve konfigürasyonu</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Sanallaştırma</h3>
                        <p>Sanallaştırma yazılımlarının kurulum ve konfigürasyonu</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Storage</h3>
                        <p>Storage yapılandırması, kurulumu, danışmanlığı ve desteği</p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Cloud</h3>
                        <p>Cloud Data Center danışmanlığı ve desteği</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Yedekleme</h3>
                        <p>Yedekleme yazılımlarının kurulum ve konfigürasyonu</p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Mail</h3>
                        <p>Mail sistemi yönetim ve danışmanlığı</p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- End Service Blcoks -->
        </div>

    </section>

