
@{
    ViewBag.Title = "It";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Bakım ve<span class="color"> Destek</span></h3>
                        <p>
                            Sistem Sağlık Taraması, Credati Teknoloji’nin sunduğu proaktif hizmetlerdendir. Bu hizmet sayesinde kurumlar
                            BT altyapılarında kullandıkları teknolojileri ve süreçleri uzman Credati danışmanlarının detaylı analizleri ile
                            çeşitli perspektiflerden kontrol etme fırsatı bulurlar. Credati uzmanlarının yapacağı çalışma ile altyapının veya
                            bileşenin mevcut durumu detaylı bir şekilde analiz edilir ve diyagramları çıkarılır. Ayrıca sistemde saptanan arıza,
                            hata ve problemler; etki, önem dereceleri ve çözüm önerileri ile birlikte sunulur.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Analiz</h3>
                        <p>
                            Credati Teknoloji uzmanları, Sistem Sağlık Taraması hizmeti ile IT altyapısında kontrol ve veri toplama
                            işlemlerini gerçekleştirir. Mevcut donanım ve yazılım envanteri, lisanslar, hizmetler, BT ekip yapısı,
                            iş sürekliliği ihtiyaçları ve BT süreçleri, kurumun BT ekipleri ile birlikte incelenir.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>
                            Hizmete Başlanması
                        </h3>
                        <p>
                            Belirlenmiş kapsam üzerinde anlaşma sağladıktan sonra kuruma hizmetin ne şekilde işleyeceği anlatılır.
                            Credati Teknoloji ekipleri, hizmetin belirlenen şartlarda yerine getirilmesi için süreci başlatır.
                            Hizmetin kapsama uygun ve kaliteli bir şekilde yürütülmesi için kurumun BT altyapısında gerekli düzenleme
                            ve iyileştirmeler yapılır.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Yürütme ve Raporlama</h3>
                        <p>
                            Hizmet, bu noktadan itibaren üzerinde anlaşılan teknoloji ve SLA’ler ile yürütülür.
                            Hizmet süresince firma periyodik olarak ziyaret edilerek; verilen hizmet,
                            açılan ve kapatılan çağrılar, yapılan iyileştirmeler ve değişiklikler raporlanır.
                            İhtiyaç duyulan düzeltme ve iyileştirmeler hizmet sürecinde sürekli olarak yapılarak,
                            hizmet kalitesi garanti altına alınır.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

