
@{
    ViewBag.Title = "Outsourcing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Outsourcing <span class="color"></span></h3>
                        <p>
                            İnsan kaynakları hızla gelişen ve detaylanan Bilgi Teknolojileri sektöründe konusunda uzman insan kaynağı bulmakta ve
                            tutundurmada oldukça zorluk çekmektedir. Credati olarak müşterilerimize ihtiyaçları doğrultusunda her
                            uzmanlık alanında (sistem, network, güvenlik, helpdesk) tam zamanlı, kısmi zamanlı, proje bazlı ve saat bazlı
                            dış kaynak hizmetleri sunmaktayız. Dış kaynak hizmetinde açıkçası bünyemizde çalışan tüm teknik arkadaşlarımızın
                            know-how birikimine sahip olacaksınız.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Seçme ve Yerleştirme</h3>
                        <p>
                            Credati Teknoloji, standart İK şirketlerinden farklı olarak, bilişim alanında donanımlı
                            seçme ve yerleştirme uzmanlarına sahiptir. Şirket ihtiyaçlarına ve kurum kültürlerine en uygun adaylar,
                            teknik mülakatlarla belirlenir.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Merkezi Danışmanlık</h3>
                        <p>
                            Teknik danışmanın yetkinliğini aşan konularda bir üst düzeydeki danışmanlık desteği
                            Credati Teknoloji tarafından hızlı ve efektif bir şekilde sunulur
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-foursquare"></i>
                    <div class="info-blocks-in">
                        <h3>Yedekleme ve Süreklilik</h3>
                        <p>
                            Credati Teknoloji, şirketlere sağladığı dönemsel uzmanlarının yedekli ve sürekli olmasını yetenek yönetimiyle garanti eder.
                            Ayrıca gerçekleştirilen periyodik ziyaretler sayesinde hizmetin kontrolü ve devamlılığı sağlanır.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

