
@{
    ViewBag.Title = "Software";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="content">
        <div class="container content">
            <!-- Service Blcoks -->

            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>yazılım <span class="color">Geliştirme</span></h3>
                        <p>
                            Credati Teknoloji, yenilikçi fikirlerinizi mükemmel web uygulamalarına dönüştürür.
                            Web uygulaması geliştirmedeki son trendlerini takip eden nitelikli geliştirici kadromuz,
                            yüksek beklentilerinizi ve kalite standartlarınızı, kurumunuza özel olarak geliştirilen birinci sınıf çözümlerle karşılar.
                        </p>

                    </div>
                </div>
            </div>

            <!-- Info Blcoks -->
            <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-desktop"></i>
                    <div class="info-blocks-in">
                        <h3>web Uygulama</h3>
                        <p>
                            Farklı sektörlerde faaliyet göstermekte olan şirketlere, iş stratejileri doğrultusunda,
                            yatırımlarını gelire dönüştürecek özel uygulamalar geliştirmekteyiz.
                            Müşterilerimizin farklı sektörlerden olması ve her müşterimizin ihtiyaçlarının farklı yönde olmasından dolayı,
                            müşterilerimiz ile doğrudan yakın temas kurarak öncelikle web uygulama geliştirme konusunda gerekli stratejileri
                            belirleyerek çalışmalarımıza başlıyoruz.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks fa fa-mobile-phone"></i>
                    <div class="info-blocks-in">
                        <h3>Mobil Geliştirme</h3>
                        <p>
                            İnsanlar artık teknoloji çağından beklenti olarak iki ayrı konuya ihtiyaç duyuyorlar bunlar; kolaylık ve hız.
                            Firmaların, ürün ve hizmetlerini kolay yoldan ulaştırabilmeleri ise en temel ihtiyaçlar arasında yer alıyor.
                            Bu sebeple mobil cihazlar günümüzde giderek yükselmeye devam ediyor. Masaüstü cihazları geçecek sayıda kullanıcıya
                            ulaşmaları ve internete istenilen her yerden erişilebilmesi ise mobil cihazların
                            tercih edilmesindeki en temel sebepler arasında yer alıyor.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Info Blcoks -->
            <!-- End Service Blcoks -->
        </div>

    </section>

